::root {
    --color-primary: #27AE60;
    --color-grey3: #828282;
    --color-grey4: #BDBDBD;
    --color-green2: #27AE60;
    --color-grey0: #F5F5f5;
    --color-grey100: #EOEOEO;
    --color-grey300: #828282;

}

