.headerBurguer {
    width: 100vw;
    height: 5rem;

    background: #F5F5F5;
    display: flex;
    justify-content: center;
    padding-bottom: 0rem;

}

.boxHeader {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: row;  
    align-items: center; 
    justify-content: space-between;    

   .addCar {
        color: #BDBDBD;
        border: none;
        background: transparent;
   
       .logo {
            display: flex;
            justify-content: center;  
            flex-direction: row;  
            align-items: center; 
        }

       .numberCount {  
            border-radius: 0.4375rem;
            background: #27AE60;
   
            color: #FFF;

            font-family: 'Inter', sans-serif;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 900;
            line-height: 0rem; 
       }
   }
}

@media (max-width:48.0625rem) {
    .boxHeader {
        padding: 1rem;
    }
}


