.container {
    width: 18.75rem;
    height: 21.625rem;

    // min-width: 250px;

    border-radius: 0.3125rem;
    border: 0.125rem solid #E0E0E0;
    background: #FFF;

    list-style: none;

    .productCardHearder {
        width: 18.75rem;
        height: 9.375rem;

        display: flex;
        justify-content: center;
        background:  #F5F5F5;
    }

    .productCardMain {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 18.75rem;
        height: 12.25rem;

        padding: 1.25rem;
        align-items: flex-start;
        gap: 0.625rem;
    }

    .title {
        width: 16.25rem;
        height: 2.5rem;
        
        color: #333;

        font-family: 'Inter', sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem; 
    }

    .category {
        width: 16.25rem;
        
        color: #828282;
        font-family: 'Inter', sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; 
    }

    .toAddButton {
        display: inline-flex;
        height: 2.5rem;
        padding: 0rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        border-radius: 0.5rem;
        border: 0.125rem solid #BDBDBD;
        background: #BDBDBD;

        color: #FFF;

        font-family: 'Inter', sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .price {
        width: 16.25rem;

        color: #27AE60;
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; 
    }

    .productCard:hover {
        border-radius: 0.3125rem;
        border: 0.125rem solid #27AE60;
        background: #FFF;
    }
    
    .toAddButton:hover{
        border-radius: 0.5rem;
        border: 0.125rem solid #27AE60;
        background: #27AE60;
    }
}


